<li>
  {% assign entry = include.item %}
  <a {% unless entry.platform == 'rss' %}rel="me" {% endunless %}href="{{ entry.user_url }}" target="_blank" title="{{ entry.title | default: entry.platform }}">
    <svg class="svg-icon grey">
      {% if entry.platform == 'behance' %}
        <use xlink:href="{{ 'https://github.com/shubhhmmm/shubhhmmm.github.io/blob/master/_includes/social-icons/behance.svg#' | append: entry.platform | relative_url }}"></use>
      {% else %}
        <use xlink:href="{{ '/assets/minima-social-icons.svg#' | append: entry.platform | relative_url }}"></use>
      {% endif %}
    </svg>
  </a>
</li>
